.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0) !important ;
    font-weight: 500;
    
}

#hii{
    padding: 16px 36px ;
    margin: 0 auto;
    background: red;
    color: white;
    border: none;
    border-radius: 9px;
    display: inline-block !important;
}

.hii2{
    display: inline-block;
    margin: 0 auto;
}